<configuration>
    <!–
    <appender name=”STDOUT”>
        <encoder>
            <pattern>%date %-5level [%thread] – [%logger]- %msg%n</pattern>
        </encoder>
    </appender>
    –>
    <appender name=“ROLLING_FILE”>
        <file>/var/log/graylog/web/graylog-web-interface.log</file>
        <rollingPolicy>
            <FileNamePattern>/var/log/graylog/web/graylog-web-interface.log.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy>
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} – %msg%n</pattern>
        </encoder>
    </appender>
    <root level=“INFO”>
        <!–<appender-ref ref=”STDOUT” />–>
        <appender-ref ref=“ROLLING_FILE” />
    </root>
</configuration>
